<h2>Write a new blog post</h2>
<br>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               id="title"
               class="form-control"
               maxlength="100"
               formControlName="title">
        <br><br>
        <label for="text">Text</label>
        <textarea name="text"
                  id="text"
                  class="form-control"
                  cols="300" 
                  rows="13"
                  maxlength="1500"
                  formControlName="text">
        </textarea>
    </div>
    <button type="submit" 
            class="btn btn-primary"
            [disabled]="postForm.invalid">Create</button>
</form>
